In [9]:
import numpy as np
import pandas as pd
import json

In [3]:
data = np.load('cleaned_csv_test_tokens.npy', allow_pickle=True)

In [4]:
data

array([[818, 262, 1239, ..., 50256, 50256, 50256],
       [3619, 13059, 930, ..., 301, 288, 620],
       [1212, 1107, 373, ..., 50256, 50256, 50256],
       ...,
       [818, 257, 1956, ..., 50256, 50256, 50256],
       [26437, 11, 21560, ..., 50256, 50256, 50256],
       [2437, 561, 314, ..., 50256, 50256, 50256]],
      shape=(269378, 512), dtype=object)

In [10]:
filepath = "../../data/cleaned/cleaned_csv_test.JSONL"
data = []

with open(filepath, 'r', encoding='utf-8') as file:
    for line in file:
        try:
            data.append(json.loads(line))
        except json.JSONDecodeError:
            continue

df = pd.DataFrame(data)
print(df)

        doc_id                                               text  \
0            0  bernadine brings to the agency over twenty yea...
1            1  a cute denim skirt by dickies!\npair this jean...
2            2  see the latest foothills homes february 2016 r...
3            3  shape of the world is stu maxwell's passion pr...
4            4  we offer a number of products.\nwhen purchasin...
...        ...                                                ...
163558    3441  :param inst: the instance to add\n        :typ...
163559    3442  an indian rocket deployed 104 spacecraft into ...
163560    3443  how does it work, what does it entail and why ...
163561    3444  at the command line i can load websites like t...
163562    3445  the united nations says nearly half a million ...

                                                      url  element_count  \
0       https://www.4rfv.com/V7BTWGJ6BUYI/AA/bernadine...              0
1       http://www.uk-beaders.co.uk/dickies-denim-skir...              0
2       https://www.premiertucsonhomes.com/foothills-h...              0
3       https://killscreen.com/articles/shape-world-wa...              0
4                 http://lendsense.com/mortgage-products/              0
...                                                   ...            ...
163558  https://github.com/fracpete/python-weka-wrappe...              0
163559  http://spaceflightnow.com/2017/02/15/india-lof...              0
163560        http://www.richard-lustig-book.com/2019/01/              0
163561                                               None              0
163562  http://abcnews.go.com/International/wireStory/...              0

        non-utf8_count masked_items  is_inappropriate  \
0                    0         None             False
1                    0         None             False
2                    0         None             False
3                    0         None             False
4                    0         None             False
...                ...          ...               ...
163558               0         None             False
163559               0         None             False
163560               0         None             False
163561               0         None             False
163562               0         None             False

                                                token_ids
0       [33900, 324, 500, 6774, 284, 262, 4086, 625, 8...
1       [64, 13779, 43152, 23967, 416, 19317, 444, 0, ...
2       [3826, 262, 3452, 36522, 2171, 5682, 730, 65, ...
3       [43358, 286, 262, 995, 318, 336, 84, 3509, 405...
4       [732, 2897, 257, 1271, 286, 3186, 13, 198, 125...
...                                                   ...
163558  [25, 17143, 916, 25, 262, 4554, 284, 751, 198,...
163559  [272, 773, 666, 10701, 12380, 14436, 16807, 65...
163560  [4919, 857, 340, 670, 11, 644, 857, 340, 39793...
163561  [265, 262, 3141, 1627, 1312, 460, 3440, 9293, ...
163562  [1169, 16503, 7027, 1139, 3016, 2063, 257, 151...

[163563 rows x 8 columns]